/*
Theme Name:     NeoMetSys
Description:    Divi Child Theme
Author:         Aroban
Author URI:     http://www.aroban.com
Template:       Divi
Version:        1.0
*/

/*@import url("../Divi/style.css");*/
@import url("eleganticons.css");

/* !!! HOTFIX : masquer temporairement Georges Mykoniatis */
.et_pb_team_member_7 {
    display: none;
}
/* !!! FIN HOTFIX */



/* ------------------------------------------------------------
== UTILITIES
------------------------------------------------------------ */

a[href*="twitter"] .et-pb-icon, .et_pb_member_social_links a[href*="twitter"] { color: #55acee; }
a[href*="facebook"] .et-pb-icon, .et_pb_member_social_links a[href*="facebook"] { color: #3b5999; }
a[href*="youtube"] .et-pb-icon, .et_pb_member_social_links a[href*="youtube"] { color: #cd201f; }
a[href*="flickr"] .et-pb-icon, .et_pb_member_social_links a[href*="flickr"] { color: #ff0084; }
a[href*="linkedin"] .et-pb-icon, .et_pb_member_social_links a[href*="linkedin"] { color: #0077B5; }

@media (min-width: 981px) {
    .mobile-only {
        display: none;
    }
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important; /* added line */
    border: 0 !important;
}

.flow-content {
    padding: 0;
}
.flow-content .et_pb_module.et_pb_blurb {
    margin-bottom: 0;
}
.flow-content .et_pb_blurb_position_left .et_pb_blurb_description {
    margin-top: .25em;
}
.flow-content .et_pb_blurb_content {
    max-width: 100%;
}
.chapo {
    font-size: 1.25em;
    font-weight: 300;
}


/* ------------------------------------------------------------
== THEME
------------------------------------------------------------ */

html body {
    line-height: 1.4;
}

p, p:not(.has-background):last-of-type {
    padding-bottom: 1em;
}

/* TYPOGRAPHIE */
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
    margin-top: 1em;
}
.et_pb_row + .et_pb_row > .et_pb_column > .et_pb_module > .et_pb_text_inner > h2 {
    margin-top: 1em;
}
h1 { font-size: 2.75rem; letter-spacing: -.025em; font-weight: 800; }
h2 { font-size: 2.5rem; letter-spacing: -.025em; font-weight: 800; }
h3 { font-size: 1.6rem; letter-spacing: -.025em; font-weight: 700; }
h4, .home li h3 { font-size: 1.25rem; letter-spacing: -.025em; font-weight: 600; }
h5 { font-size: .9rem; font-weight: 600; }
h6 { font-size: .6rem; font-weight: 600; text-transform: uppercase; letter-spacing: .1rem; }
em {
    font-style: normal;
    color: #8da2a6;
}
#main-content p a {
    text-decoration: underline;
    font-weight: 600;
}

/* UNORDERED LIST */
.et_pb_text_inner ul {
    margin-left: 1.2em;
    padding-left: 0;
}
.et_pb_text_inner ul li {
    position: relative;
    list-style: none;
    line-height: 1.4;
    margin: .5em 0;
}
.et_pb_text_inner ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: eleganticons;
    content: "\35";
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 1.6em;
    width: 1.2em;
    margin-left: -1.2em;
    margin-top: -.09em;
    color: #144b66;
}

/* FOOTER */
#colophon {
    font-size: 14px;
    padding: 0;
}
#colophon * {
    padding: 0;
    margin: 0;
}
#colophon .et_pb_row {
    padding: 16px 0;
    max-width: 80%;
    margin: auto;
}
#colophon img {
    vertical-align: middle;
}
#colophon .widget_nav_menu ul {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width:981px) {
    #colophon * {
        width: auto;
    }
    #colophon .et_pb_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #colophon .et_pb_row > *:first-child {
        flex: 1;
    }
    #colophon .widget_nav_menu {
        margin-left: .5em;
    }
    #colophon .widget_nav_menu li::before {
        content: "|";
        margin-right: .5em;
    }
}
@media (max-width:980px) {
    #colophon * {
        text-align: center;
    }
    #colophon .et_pb_widget {
        float: none;
        width: 100%;
        line-height: 1.4;
        margin: .5em auto;
    }
    #colophon .et_pb_row,
    #colophon .et_pb_module {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }
    #colophon .widget_nav_menu li:not(:last-child),
    #colophon .widget_nav_menu li:not(:first-child)::before {
        margin-right: .5em;
    }
    #colophon .widget_nav_menu li:not(:first-child)::before {
        content: "|";
    }
    #colophon .widget_nav_menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* TOP MENU */
#et-top-navigation {
    line-height: 1.2;
    font-weight: normal;
}
#et-top-navigation .et-pb-icon {
    font-size: 1.8em;
    vertical-align: middle;
}
#et-top-navigation ul > li:first-child a:first-word {

}
#top-menu li {
    padding: 0;
}
#top-menu li:not(:last-child) a {
    padding-left: 8px;
    padding-right: 8px;
}
#top-menu .menu-item-object-custom:last-child a {
    margin-left: 8px;
}
.et_mobile_menu li a {
    padding: 16px;
}
.et_mobile_menu .icon-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.et_mobile_menu .mobile-only {
    flex: 1;
    padding-right: 8px;
}
.current-menu-item a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    border-top: 4px solid;
    margin-top: -21px;
}

/* SCROLL TOP */
.et_pb_scroll_top.et-pb-icon {
    background: #19b5fe;
    box-shadow: 0px 2px 8px rgba(0,0,0,.1);
}

/* CAROUSEL */
.home .et_pb_slide_description {
    width: 60%;
    max-width: 640px;
    margin: unset;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}
.home .et_pb_fullwidth_post_slider .et-pb-controllers a {
    width: 3em;
}
.home .et_pb_fullwidth_post_slider .et_pb_slide_content {
    display: none;
}
.home .et_pb_slide {
    padding: 0;
}
.home .et_pb_slide_description > * {
    background: #144b66;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}
.home .et_pb_slide_description > *:first-child {
    padding-top: 1rem;
}
.home .et_pb_slide_description > .et_pb_slide_title {
    display: inline-block;
}
.home .et_pb_slide_description > .et_pb_slide_title,
.home .et_pb_slide_description > *:last-child {
    padding-bottom: 1rem;
}
.home .et_pb_fullwidth_post_slider .et_pb_container {
    width: 100%;
}
.home li h3 {
    line-height: 1.45rem;
}
.home li h3 em {
    font-weight: normal;
    color: #3c4a50;
    font-size: 1rem;
    letter-spacing: initial;
}

/* INLINE GALLERY */
.inline-gallery .et_pb_row {
    padding: 0;
    width: 100%;
    max-width: 100%;
}
.inline-gallery .et_pb_text_inner p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.inline-gallery .et_pb_text_inner p img {
    margin: 8px 2vw;
    width: auto;
    max-height: 64px;
}
@media (min-width:981px) {
    .inline-gallery-3 img { max-width: calc(100%/3 - 4vw); }
    .inline-gallery-4 img { max-width: calc(100%/4 - 4vw); }
    .inline-gallery-5 img { max-width: calc(100%/5 - 4vw); }
    .inline-gallery-6 img { max-width: calc(100%/6 - 4vw); }
    .inline-gallery-7 img { max-width: calc(100%/7 - 4vw); }
    .inline-gallery-8 img { max-width: calc(100%/8 - 4vw); }
    .inline-gallery-9 img { max-width: calc(100%/9 - 4vw); }
    .inline-gallery-10 img { max-width: calc(100%/10 - 4vw); }
}
.gray-scale img {
    filter: grayscale(1);
    opacity: .85;
}

/* FOOTER CONTACTS */
.footer-phone .et_pb_blurb_description > p {
    padding: 0;
}
.footer-phone .et_pb_blurb_description > p:empty {
    display: none;
}
.footer-phone .et_pb_blurb_description > a:first-child,
.footer-phone .et_pb_blurb_description > p:first-child{
    display: block;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: -.025em;
}
.footer-phone .et_pb_blurb_description > a:first-child,
.footer-phone .et_pb_blurb_description > p:first-child a{
    margin-bottom: 1rem;
    color: inherit;
}
.footer-phone .et_pb_blurb_description ul {
    padding: 0;
    list-style: none;
}
.footer-phone .et_pb_blurb_description li {
    margin: .25em 0;
}
.footer-phone .et_pb_blurb_description li a {
    color: inherit;
}
.footer-phone .et_pb_blurb_description li a::before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-right: .35em;
}
.footer-phone .et_pb_blurb_description li a[href*=":+32"]::before { content: url(../../uploads/2019/12/flag-belgium.png); }
.footer-phone .et_pb_blurb_description li a[href*=":+55"]::before { content: url(../../uploads/2019/12/flag-brasil.png); }
.footer-phone .et_pb_blurb_description li a[href*=":+66"]::before { content: url(../../uploads/2019/12/flag-thailand.png); }
.footer-phone .et_pb_blurb_description li a[href*=":+90"]::before { content: url(../../uploads/2019/12/flag-turkey.png); }
.footer-phone .et_pb_blurb_description li a[href*=":+27"]::before { content: url(../../uploads/2020/01/flag-southafrica.png); }
.footer-social .et_pb_blurb_description > p:first-child > strong:first-child {
    display: block;
    margin-top: .3em;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.2;
}
.footer-social .et-pb-icon {
    color: white !important;
}

/* COLOR SWATCH */
.colorswatch {
    display: table;
    width: 100%;
    height: 10px;
    border-spacing: 1px;
}
.colorswatch > * {
    display: table-cell;
    width: calc(100% / 8);
}
.colorswatch .color1 { background-color: #26c281; }
.colorswatch .color2 { background-color: #ff7e00; }
.colorswatch .color3 { background-color: #19b5fe; }
.colorswatch .color4 { background-color: #144b66; }

/* HOMEPAGE SECTIONS */
.chevron-left, .chevron-right {
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: top;
    padding: 0 !important;
    margin: 2% auto;
}
.chevron-left {
    background-image: url(images/chevron-bleu.png);
    background-position-x: calc(50% - (1080px/2));
    padding-left: calc(50% - 352px) !important;
    padding-right: calc(50% - (1080px/2)) !important;
    min-height: 449px;
}
.chevron-right {
    background: url(images/chevron-couleur.png) top right no-repeat;
    background-position-x: calc(50% + (1080px/2));
    padding-left: calc(50% - (1080px/2)) !important;
    padding-right: calc(50% - 388px) !important;
    min-height: 462px;
}

/* CTA TEAM */
@media (min-width:981px) {
    .cta-team > .et_pb_row {
        display: flex;
        align-items: flex-start;
    }
    .cta-team > .et_pb_row > * {
        width: auto;
        margin: 0;
        padding: 0 2%;
        flex: 1;
    }
    .cta-team > .et_pb_row > .cta-image {
        margin-top: .2em;
    }
    .cta-team > .et_pb_row > .cta-text {
        flex-grow: 3;
    }
    .cta-team > .et_pb_row > .cta-button {
        white-space: nowrap;
        align-self: center;
    }
}

/* PAGE */
body:not(.home) .et_pb_fullwidth_section .et_pb_post_title {
    padding: 4% 0;
}
.et_pb_title_container {
    padding-left: 0 !important;
}

/* POST SIDEBAR */
#sidebar .widgettitle {
    font-weight: 800;
}
#sidebar li a {
    font-weight: 600;
    color: inherit;
}
#sidebar .et_pb_widget ul li {
    margin: 0;
    padding: .5em;
    line-height: 1.2;
}
#sidebar .et_pb_widget ul li + li {
    border-top: 1px dotted #bed3d7;
}
#sidebar .et_pb_widget ul li a:not(:last-child) {
    display: block;
}
#sidebar .et_pb_widget ul li a + .post-date {
    font-size: 12px;
    margin-top: .5em;
}
.post-meta .published::before,
#sidebar .et_pb_widget ul li a + .post-date::before {
    /*content: "";*/
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: ETmodules;
    font-size: .9em;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    text-transform: none;
    speak: none;
    margin-right: .5em;
}
.post-meta .published,
#sidebar .et_pb_widget ul li a + .post-date {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    color: #8da2a6;
}

/* CONTACT */
.et_pb_contact .et_contact_bottom_container p {
    padding-bottom: 0;
}
.et-pb-contact-message {
    position: relative;
    color: white;
    font-size: 1.2em;
    text-align: center;
}
.et-pb-contact-message p:last-child {
    padding-bottom: 0;
}

/* TEAM */
.et_pb_module.et_pb_team_member {
    padding: 2.75% 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.et_pb_member_social_links a {
    font-size: 40px;
}
.partners .et_pb_main_blurb_image {
    margin-bottom: 0;
}
.partners .et_pb_main_blurb_image .et_pb_image_wrap {
    min-height: 136px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
.partners .et_pb_main_blurb_image .et_pb_image_wrap img {
    max-height: 125px;
}
.et_pb_team_member_image, .et_pb_team_member_image img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
@media (max-width: 767px) {
    .et_pb_team_member_image {
        margin-left: auto;
        margin-right: auto;
    }
    .et_pb_module_header, .et_pb_member_position {
        text-align: center;
    }
}